---
title: home
---

<div class="container">
  
  <header class="header">
    <a class="logo" href="index.html">
      <img class="header__logo" alt="logo" src="images/logo.png">
    </a>
    <nav class="navigation">
      <ul>
        <li class="navigation__item">
          <a class="navigation__link" href="#">projects</a>
        </li>
        <li class="navigation__item">
          <a  class="navigation__link" href="#">we are</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">services</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">blog</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">contacts</a>
        </li>
      </ul>
    </nav>
    <button class="lang-switch">ru</button>
  </header>

  <section class="greeting">
    <p>Hello.</p>
    <p>We are a design agency.</p>
    <p>Always interested in a new projects.</p>
    <p class="subtext greeting__subtext">digital <span class="subtext__amp">&</span> branding</p>
  </section>
  
  <section class="contact">
    <p>crazy shit</p>
    <p>drop us a line</p>
    <a class="contact__link" href="#">let's talk</a>
  </section>
  
  <div class="arm"></div>

</div>

<footer class="footer">
  <section class="social">
    <p class="social__capture">follow us</p>
    <a class="social__link" href="https://www.behance.net/gravpixagency">Behance</a>
    <a class="social__link" href="https://www.instagram.com/gravpix">Instagram</a>
    <a class="social__link" href="https://www.facebook.com/gravpix">Facebook</a>
  </section>
</footer>